// Pagination
//
// Super lightweight (HTML-wise) blog pagination. `span`s are provide for when
// there are no more previous or next posts to show.

.pagination {
  margin: 0 -1.5rem 1rem;
  color: #ccc;
  text-align: center;
  margin-left: -1rem;
  margin-right: -1rem;

  > ul {
    list-style: none;
    padding: 0;
  }
}

// Pagination items can be `span`s or `a`s

.pagination {
    margin: 3rem 0;
  }

.pagination-item {
    > * {
	display: inline-block;
	width: auto;
    overflow: hidden;
    }

    &:first-child > * {
      margin-bottom: 0;
      float: left;
    }
    &:last-child > * {
      margin-left: -1px;
      text-align: right;
      float: right;
    }
  }
